
<h2><%= current_user.name %>' lists</h2>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.title.capitalize, list_path(list) %>
      <%= link_to 'delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-1' %>
    </li>
  <% end %>
</ul>

<h5>Add a list:</h5>
<%= simple_form_for [@new_list] do |f| %>
<%= f.input :title %>
<%= f.submit "Add a list", class: "btn btn-secondary" %>
<% end %>
