
<h2><%= current_user.name %>' lists</h2>

<ul>
  <%= turbo_stream_from @lists %>

    <% @lists.each do |list| %>
      <%= turbo_frame_tag dom_id(list) do %>
        <li>
          <%= link_to list.title.capitalize, list_path(list), method: :get %>
          <%= link_to 'delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-1' %>
        </li>
      <% end %>
    <% end %>

</ul>

<%= turbo_frame_tag dom_id(@list) do %>
  <%= render 'form_list', list: @list %>
<% end %>
