
<h2><%= current_user.name %>' lists</h2>

<ul>
  <%= turbo_stream_from @lists %>

  <% @lists.each do |list| %>
    <li>

      <%= link_to list.title.capitalize, list_path(list) %>
      <%= turbo_frame_tag dom_id(list) do %>

        <% if list.destroyed? %>
          <%= turbo_stream.remove dom_id(list) %>
        <% end %>

        <% unless list.destroyed? %>
          <%= render 'delete_list', list: list %>
        <% end %>

      <% end %>

    </li>
  <% end %>

</ul>

<%= turbo_frame_tag dom_id(@list) do %>
  <%= render 'form_list', list: @list %>
<% end %>
