
<h2><%= @list.title.capitalize %></h2>

<ul>
  <% @list.items.each do |item| %>
    <li>
      <%= item.name.capitalize %>, <%= item.quantity %>
      <%= link_to 'delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger my-1' %>
    </li>
  <% end %>
</ul>

<h5>Add item to list:</h5>
<%= simple_form_for [@list, @item] do |f| %>
  <%= f.input :name %>
  <%= f.input :quantity %>
  <%= f.submit "Add item", class: "btn btn-secondary" %>
<% end %>
